<%- include('includes/head-proposta') %>
    <%- include('includes/nav') %>
        <% if(proposta._id) { %>
            <form action="/proposta/edit/<%= proposta._id %>" method="POST">
                <% } else { %>
                    <form action="/proposta/register" method="POST">
                        <% } %>
                            <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                            <input type="hidden" name="account_id" value=<%=proposta.account_id %>>
                            <% const numTabelas = tabela.length - 1; %>
                            <input type="hidden" name="tabela_id" value=<%=tabela._id %>>
                            

                            <div class="conteiner" style="margin: 20px;">

                                <div class="row" style="width: 70%; margin: auto;">

                                    <div class="col-md-12 text-center">
                                        <h1>Cadastro de Proposta</h1>
                                        <p>Preencha o Formulario abaixo para gerar uma proposta comercial</p>
                                    </div>

                                    <%- include('includes/messages') %>

                                        <div class="col-6 my-4">
                                            <label for="">Razão Social</label>
                                            <input value="<%= proposta.razao_social %>" type="text" class="form-control" id=""
                                                placeholder="Razão Social" name="razao_social">

                                            <label for="">Nome</label>
                                            <input value="<%= proposta.nome %>" type="text" class="form-control" id=""
                                                placeholder="Nome" name="nome">
                                        </div>


                                        <div class="col-6 my-4">
                                            <label for="">CNPJ</label>
                                            <input value="<%= proposta.cnpj %>" type="text" class="form-control" id=""
                                                placeholder="CNPJ" name="cnpj">

                                            <label for="">Email de Cobrança</label>
                                            <input value="<%= proposta.email_cobranca %>" type="email" class="form-control" id=""
                                                placeholder="Email de Cobrança" name="email_cobranca">
                                        </div>

                                        <hr>

                                        <h2 style="text-align: center; font-size: 28px;">Pacote básico</h2>

                                        <div class="col-6 my-4">
                                            <p class="" style="text-align:center; font-weight: bold;">FSM: Gestão de Ordens de Serviço</p>

                                            <label for="">Número de usuários</label>
                                            <input value="<%= proposta.numero_usuarios %>" type="text" class="form-control" id="numero_usuarios"
                                                placeholder="Número de usuários" name="numero_usuarios">

                                            <div class="input-group mb-3 my-4">
                                                <input value="<%= proposta.desconto %>" id="desconto" name="desconto" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                                                <span class="input-group-text" id="basic-addon1">%</span>
                                            </div>

                                        </div>

                                        <div class="col-6 my-4">
                                            <p class="" style="text-align:center; font-weight: bold;">PCM: Gestão de Manutenção de Ativos </p>

                                            <label for="">Número de ativos</label>
                                            <input value="<%= proposta.numero_ativos %>" type="text" class="form-control" id="numero_ativos"
                                                placeholder="Número de ativos" name="numero_ativos">

                                            <div class="input-group mb-3 my-4">
                                                <input value="<%= proposta.ajuste_por_volume %>" id="ajuste_por_volume" name="ajuste_por_volume" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                                                <span class="input-group-text" id="basic-addon1">%</span>
                                            </div>

                                        </div>

                                        <hr>

                                        <div class="col-6"><h2 style="text-align: center; font-size: 28px;">Pacote opcional</h2></div>
                                        <div class="col-6"><h2 style="text-align: center; font-size: 28px;">Taxa e Observações</h2></div>
                                        

                                        <div class="col-6 my-4"> 

                                            <% if(proposta.dashboardAvancadoCheckbox === "on"){ %>
                                            <input  class="form-check-input" type="checkbox"
                                                id="dashboardAvancadoCheckbox" name="dashboardAvancadoCheckbox" checked>
                                            <% } else { %>
                                            <input  class="form-check-input" type="checkbox"
                                                id="dashboardAvancadoCheckbox" name="dashboardAvancadoCheckbox">
                                            <% } %>
                                            <label class="form-check-label" for="dashboardAvancadoCheckbox">Dashboard
                                                Avançado</label>
                                                
                                            <br>
                                            <% if(proposta.setupWhiteLabelCheckbox === "on"){ %>
                                            <input  class="form-check-input" type="checkbox"
                                                id="setupWhiteLabelCheckbox" name="setupWhiteLabelCheckbox" checked>
                                            <% } else { %>
                                            <input  class="form-check-input" type="checkbox"
                                                id="setupWhiteLabelCheckbox" name="setupWhiteLabelCheckbox">
                                            <% } %>
                                            <label class="form-check-label" for="setupWhiteLabelCheckbox">Setup white
                                                label</label>

                                            <br>
                                            <% if(proposta.slaCheckbox === "on"){ %>
                                            <input  class="form-check-input" type="checkbox"
                                                id="slaCheckbox" name="slaCheckbox" checked>
                                            <% } else { %>
                                            <input  class="form-check-input" type="checkbox"
                                                id="slaCheckbox" name="slaCheckbox">
                                            <% } %>
                                            <label class="form-check-label" for="slaCheckbox">SLA</label>

                                            <br>
                                            <% if(proposta.mensalidadeWhiteLabelCheckbox === "on"){ %>
                                            <input  class="form-check-input" type="checkbox"
                                                id="mensalidadeWhiteLabelCheckbox" name="mensalidadeWhiteLabelCheckbox" checked>
                                            <% } else { %>
                                            <input  class="form-check-input" type="checkbox"
                                                id="mensalidadeWhiteLabelCheckbox" name="mensalidadeWhiteLabelCheckbox">
                                            <% } %>
                                            <label class="form-check-label"
                                                for="mensalidadeWhiteLabelCheckbox">Mensalidade white label</label>

                                            <br>
                                            <% if(proposta.horaDesenvolvimentoCheckbox === "on"){ %>
                                            <input  class="form-check-input col-2"
                                                type="checkbox" id="horaDesenvolvimentoCheckbox"
                                                name="horaDesenvolvimentoCheckbox" checked>
                                            <% } else { %>
                                            <input  class="form-check-input col-2"
                                                type="checkbox" id="horaDesenvolvimentoCheckbox"
                                                name="horaDesenvolvimentoCheckbox">
                                            <% } %>
                                            <label class="form-check-label col-6"
                                                for="horaDesenvolvimentoCheckbox">Hora de Desenvolvimento</label>
                                            <input value="<%= proposta.qntd_horas %>" type="text" class="form-control col-4" id="qntd_horas"
                                                placeholder="Qntd. de horas" name="qntd_horas" style="display:inline;">

                                        </div>

                                        <div class="col-6 my-4">
                                            <label for="">Taxa única de ativação</label>
                                            <input value="<%= proposta.taxa_unica_ativacao %>" type="text" class="form-control" id="taxa_unica_ativacao"
                                                placeholder="Taxa única de ativação" name="taxa_unica_ativacao">

                                            <label for="">Observações</label>
                                            <textarea class="form-control"
                                                id="exampleFormControlTextarea1" rows="3" name="observacoes"><%= proposta.observacoes %></textarea>

                                        </div>

                                        <hr>

                                        <div class="col-12 text-center my-4">
                                            <button type="button" class="btn btn-primary" onclick="modalPreview()" data-bs-toggle="modal" data-bs-target="#exampleModal">Pré-visualizar Proposta</button>
    
                                            
                                            <% if(proposta._id) { %>

                                                <button type="submit" class="btn btn-success ">Editar Proposta</button>
                                                <a href="/template/pdf/<%=proposta._id%>"> <button type="button" class="btn btn-dark">Exportar proposta</button> </a>

                                                <% } else { %>

                                                    <button type="submit" class="btn btn-dark ">Gerar e exportar proposta</button>

                                                    <% } %>

    
                                        </div>


                                </div>
                            </div>

                    </form>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pré-visualização da proposta comercial</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="container" style="font-size: 12px;">
                        <div class="row">

                            <div class="col-6 text-center my-2">
                                <h1 style="font-size: 12px; font-weight: bold;">Gestão de Ordens de Serviço</h1>
                                <p id="fsm1">valor por usuário: R$ price</p>
                                <p id="fsm2">desconto: 0%</p>
                                <p id="fsm3">preço unitário com desconto: R$00</p>
                                <p id="fsm4">mensalidade para X usuários: R$0000</p>
                            </div>

                            <div class="col-6 text-center my-2">
                                <h1 style="font-size: 12px; font-weight: bold;">Gestão de Manutenção de Ativos</h1>
                                <p id="pcm1">valor por ativo: R$<%= tabela.valorBase%></p>
                                <p id="pcm2">ajuste por volume: 00%</p>
                                <p id="pcm3">preço unitário com ajuste: R$00</p>
                                <p id="pcm4">mensalidade pra X ativos: R$0000</p>
                            </div>

                            <div class="col-6 text-center my-4">
                                <p id="prevMensalidadeBasica" style="font-size: 12px;">mensalidade básica: R$0000</p>
                            <p id="prevMensalidadeOpcionais" style="font-size: 12px;">mensalidade opicionais: R$0000</p>
                            <hr class="solid" style="width: 100%; justify-content: center; margin: auto;">
                            <p id="prevMensalidadeGeral" style="font-size: 14px; font-weight: bold;">mensalidade geral: R$0000</p>   
                            </div>
                            
                            <div class="col-6 text-center my-4">
                                <p id="prevTxUnicaWhiteLabel" style="font-size: 12px;">taxa única whitelabel: R$0000</p>
                                <p  id="prevTxUnicaDesenvolvimento" style="font-size: 12px;">taxa única desenvolvimento: R$0000</p>
                                <hr class="solid" style="width: 100%; justify-content: center; margin: auto;">
                                <p id="prevTxUnica" style="font-size: 14px; font-weight: bold;">taxa única: R$0000</p>
                            </div>

                            <div class="col-12 text-center">
                                <p id="prevTxUnicaAtivacao" style="font-size: 14px; font-weight: bold;">taxa única de ativação: R$0000</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="justify-content:center;">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal" style="width: 30%;">OK</button>
                </div>

            </div>
        </div>
    </div>

<%- include('includes/footer') %>


<script type="text/javascript">

    function modalPreview() {

        //VARIAVEIS
        const numTabelas = parseFloat("<%= tabela.length - 1 %>");
        let qntHorasDev =  document.getElementById("qntd_horas").value;
        let valorHora = parseFloat("<%=tabela.horaDeDesenvolvimento%>");

        let numeroUsuarios = document.getElementById("numero_usuarios").value;
        let numeroAtivos = document.getElementById("numero_ativos").value;
        let valorPorUsuario = document.getElementById("fsm1");
        let fms1Price;

        
        // VALOR POR USUARIO 
        let prefix1 = "valor por usuário: R$";
        if (numeroUsuarios <= 2) { fms1Price =  parseFloat("<%=tabela.menosque2%>");valorPorUsuario.innerHTML = prefix1 + fms1Price;
        } else if (numeroUsuarios == 3) {fms1Price =  parseFloat("<%=tabela.igual3%>"); valorPorUsuario.innerHTML = prefix1 +fms1Price;
        } else if (numeroUsuarios == 4) {fms1Price =  parseFloat("<%=tabela.igual4%>"); valorPorUsuario.innerHTML = prefix1 + fms1Price;
        } else if (numeroUsuarios == 5) {fms1Price =  parseFloat("<%=tabela.igual5%>"); valorPorUsuario.innerHTML = prefix1 + fms1Price;
        } else if (numeroUsuarios == 6) {fms1Price =  parseFloat("<%=tabela.igual6%>"); valorPorUsuario.innerHTML = prefix1 + fms1Price;
        } else if (numeroUsuarios == 7) {fms1Price =  parseFloat("<%=tabela.igual7%>"); valorPorUsuario.innerHTML = prefix1 + fms1Price;
        } else if (numeroUsuarios == 8) {fms1Price =  parseFloat("<%=tabela.igual8%>"); valorPorUsuario.innerHTML = prefix1 + fms1Price;
        } else if (numeroUsuarios == 9) {fms1Price =  parseFloat("<%=tabela.igual9%>"); valorPorUsuario.innerHTML = prefix1 + fms1Price;
        } else if (numeroUsuarios >= 10 && numeroUsuarios <= 12) {fms1Price =  parseFloat("<%=tabela.entre10e12%>"); valorPorUsuario.innerHTML = prefix1 + fms1Price;
        } else if (numeroUsuarios >= 13 && numeroUsuarios <= 15) {fms1Price =  parseFloat("<%=tabela.entre13e15%>"); valorPorUsuario.innerHTML = prefix1 + fms1Price;
        } else if (numeroUsuarios >= 16 && numeroUsuarios <= 21) {fms1Price =  parseFloat("<%=tabela.entre16e21%>"); valorPorUsuario.innerHTML = prefix1 + fms1Price;
        } else if (numeroUsuarios >= 22 && numeroUsuarios <= 27) {fms1Price =  parseFloat("<%=tabela.entre22e27%>"); valorPorUsuario.innerHTML = prefix1 + fms1Price;
        } else if (numeroUsuarios >= 28 && numeroUsuarios <= 38) {fms1Price =  parseFloat("<%=tabela.entre28e38%>"); valorPorUsuario.innerHTML = prefix1 + fms1Price;
        } else if (numeroUsuarios >= 39 && numeroUsuarios <= 49) {fms1Price =  parseFloat("<%=tabela.entre39e49%>"); valorPorUsuario.innerHTML = prefix1 + fms1Price;
        } else if (numeroUsuarios >= 50 && numeroUsuarios <= 60) {fms1Price =  parseFloat("<%=tabela.entre50e60%>"); valorPorUsuario.innerHTML = prefix1 + fms1Price;
        } else if (numeroUsuarios >= 61 && numeroUsuarios <= 71) {fms1Price =  parseFloat("<%=tabela.entre61e71%>");valorPorUsuario.innerHTML = prefix1 + fms1Price;
        } else if (numeroUsuarios >= 72 && numeroUsuarios <= 82) {fms1Price =  parseFloat("<%=tabela.entre72e82%>");valorPorUsuario.innerHTML = prefix1 + fms1Price;
        } else if (numeroUsuarios >= 83 && numeroUsuarios <= 93) {fms1Price =  parseFloat("<%=tabela.entre83e93%>"); valorPorUsuario.innerHTML = prefix1 + fms1Price;
        } else if (numeroUsuarios > 93) {fms1Price =  parseFloat("<%=tabela.maisque93%>"); valorPorUsuario.innerHTML = prefix1 + fms1Price;
        } else {valorPorusuario.innerHTML = prefix1;}

        // DESCONTO FSM
        if(document.getElementById("desconto").value == ""){ document.getElementById("fsm2").innerHTML = "desconto: 0%";
        } else { document.getElementById("fsm2").innerHTML = "desconto: " + document.getElementById("desconto").value + "%"; }

        // PRECO UNITARIO COM DESCONTO FSM
        let pricefix = (1 - document.getElementById("desconto").value/100)* fms1Price;
        document.getElementById("fsm3").innerHTML = "preço unitário com desconto: R$" + pricefix.toFixed(2);
        
        // MENSALIDADE PARA X USUARIOS
        let mensalidade = pricefix * numeroUsuarios;
        document.getElementById("fsm4").innerHTML = "mensalidade para " + numeroUsuarios + " usuários: R$" + mensalidade.toFixed(2);

        //AJUSTE POR VOLUME
        let ajustePorVolume = document.getElementById("ajuste_por_volume").value;
        document.getElementById("pcm2").innerHTML = "ajuste por volume: " + ajustePorVolume + "%";

        // PRECO UNITARIO COM AJUSTE
        let pricefix2 = (1 - ajustePorVolume/100)* parseFloat("<%=tabela.valorBase%>");
        document.getElementById("pcm3").innerHTML = "preço unitário com ajuste: R$" + pricefix2.toFixed(2);

        // MENSALIDADE PARA X ATIVOS
        let mensalidade2 = pricefix2 * numeroAtivos;
        document.getElementById("pcm4").innerHTML = "mensalidade para " + numeroAtivos + " ativos: R$" + mensalidade2.toFixed(2);

        // MENSALIDADE BASICA
        let mensalidadeBasica = mensalidade + mensalidade2;
        document.getElementById("prevMensalidadeBasica").innerHTML = "mensalidade básica: R$" + mensalidadeBasica.toFixed(2);

        // MENSALIDADE OPCIONAIS
        let mensalidadeOpcionaisTotal = 0;
        
        if(document.getElementById("dashboardAvancadoCheckbox").checked){
            mensalidadeOpcionaisTotal += parseFloat("<%=tabela.dashboardAvancado%>");
        }
        if(document.getElementById("slaCheckbox").checked){
            mensalidadeOpcionaisTotal += parseFloat("<%=tabela.sla%>");
        }
        if(document.getElementById("mensalidadeWhiteLabelCheckbox").checked){
            mensalidadeOpcionaisTotal += parseFloat("<%=tabela.mensalidadeWhiteLabel%>");
        }
        document.getElementById("prevMensalidadeOpcionais").innerHTML = "mensalidade opcionais: R$" + mensalidadeOpcionaisTotal.toFixed(2);

        // MENSALIDADE GERAL
        let mensalidadeGeral = mensalidadeBasica + mensalidadeOpcionaisTotal;
        document.getElementById("prevMensalidadeGeral").innerHTML = "mensalidade geral: R$" + mensalidadeGeral.toFixed(2);

        //TAXA UNICA DE ATIVACAO
        let taxaUnicaAtivacao = document.getElementById("taxa_unica_ativacao").value;
        document.getElementById("prevTxUnicaAtivacao").innerHTML = "taxa única de ativação: R$" + taxaUnicaAtivacao;





        if (document.getElementById("setupWhiteLabelCheckbox").checked) {
            document.getElementById("prevTxUnicaWhiteLabel").innerHTML = "taxa única whitelabel: R$<%= tabela.setupWhiteLabel %>";
        } else {
            document.getElementById("prevTxUnicaWhiteLabel").innerHTML = "taxa única whitelabel: R$0";
        }

        if (document.getElementById("horaDesenvolvimentoCheckbox").checked) {
            document.getElementById("prevTxUnicaDesenvolvimento").innerHTML = "taxa única desenvolvimento: R$" + (qntHorasDev * valorHora);
        } else {
            document.getElementById("prevTxUnicaDesenvolvimento").innerHTML = "taxa única desenvolvimento: R$0";
        }

        if(document.getElementById("setupWhiteLabelCheckbox").checked && document.getElementById("horaDesenvolvimentoCheckbox").checked){
            document.getElementById("prevTxUnica").innerHTML = "taxa única: R$"+ (parseFloat("<%=tabela.setupWhiteLabel%>") + (qntHorasDev * valorHora));
        } else if(document.getElementById("setupWhiteLabelCheckbox").checked && !document.getElementById("horaDesenvolvimentoCheckbox").checked){
            document.getElementById("prevTxUnica").innerHTML = "taxa única: R$"+ parseFloat("<%=tabela.setupWhiteLabel%>");
        } else if(!document.getElementById("setupWhiteLabelCheckbox").checked && document.getElementById("horaDesenvolvimentoCheckbox").checked){
            document.getElementById("prevTxUnica").innerHTML = "taxa única: R$"+ qntHorasDev * valorHora;
        }
    };
</script>