<%- include('includes/head-proposta') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">Tabela de Preços</h1>
      <p class="text-center lead">Edite os valores abaixo para o preenchimento automatico das propostas</p>

      <%- include('includes/messages') %>

      <% if(tabela._id) { %>
<form action="/tabela/edit/<%= tabela._id %>" method="POST">
  <% } %>
  <input type="hidden" name="_csrf" value=<%= csrfToken %>>

  <table class="table table-bordered table-responsive-md table-striped text-center" style="margin: auto; width: 50%;">

    <thead class="thead-dark">
      <tr>
        <th class="text-center">Nome do Campo</th>
        <th class="text-center">Valor</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="pt-3-half" contenteditable="false">Validade da proposta</td>
        <td class="pt-3-half" contenteditable="false" >
          <input value="<%= tabela.validadeDaProposta %>" type="text" name="validadeDaProposta" id="1" style="background: transparent; border-style: none ;width: 100%; height: 100%;">
        </td>
      </tr>

      <tr>
        <td class="pt-3-half" contenteditable="false">Preço Unitário</td>
        <td class="pt-3-half" contenteditable="false" >
          <input value="<%= tabela.precoUnitario %>" type="text" name="precoUnitario" id="2" style="background: transparent; border-style: none ;width: 100%; height: 100%;">
        </td>
      </tr>

      <tr>
        <td class="pt-3-half" contenteditable="false">Valor Base</td>
        <td class="pt-3-half" contenteditable="false" >
          <input value="<%= tabela.valorBase %>" type="text" name="valorBase" id="3" style="background: transparent; border-style: none ;width: 100%; height: 100%;">
        </td>
      </tr>
      
      <tr>
        <td class="pt-3-half" contenteditable="false">Setup White Label</td>
        <td class="pt-3-half" contenteditable="false" >
          <input value="<%= tabela.setupWhiteLabel %>" type="text" name="setupWhiteLabel" id="4" style="background: transparent; border-style: none ;width: 100%; height: 100%;">
        </td>
      </tr>

      <tr>
        <td class="pt-3-half" contenteditable="false">Mensalidade White Label</td>
        <td class="pt-3-half" contenteditable="false" >
          <input value="<%= tabela.mensalidadeWhiteLabel %>" type="text" name="mensalidadeWhiteLabel" id="5" style="background: transparent; border-style: none ;width: 100%; height: 100%;">
        </td>
      </tr>

      <tr>
        <td class="pt-3-half" contenteditable="false">Dashboard Avançado</td>
        <td class="pt-3-half" contenteditable="false" >
          <input value="<%= tabela.dashboardAvancado %>" type="text" name="dashboardAvancado" id="6" style="background: transparent; border-style: none ;width: 100%; height: 100%;">
        </td>
      </tr>

      <tr>
        <td class="pt-3-half" contenteditable="false">SLA</td>
        <td class="pt-3-half" contenteditable="false" >
          <input value="<%= tabela.sla %>" type="text" name="sla" id="7" style="background: transparent; border-style: none ;width: 100%; height: 100%;">
        </td>
      </tr>

      <tr>
        <td class="pt-3-half" contenteditable="false">Conexão IoT</td>
        <td class="pt-3-half" contenteditable="false" >
          <input value="<%= tabela.conexaoIot %>" type="text" name="conexaoIot" id="8" style="background: transparent; border-style: none ;width: 100%; height: 100%;">
        </td>
      </tr>

      <tr>
        <td class="pt-3-half" contenteditable="false">Hora de Desenvolvimento</td>
        <td class="pt-3-half" contenteditable="false" >
          <input value="<%= tabela.horaDeDesenvolvimento %>" type="text" name="horaDeDesenvolvimento" id="9" style="background: transparent; border-style: none ;width: 100%; height: 100%;">
        </td>
      </tr>
    </tbody>
  </table>

  <button type="submit" class="btn btn-primary">Salvar</button>
  <a href="/"> <button type="button" class="btn btn-primary">Voltar</button> </a>
  
</form>

    </div>
  </div>
</div>

  <%- include('includes/footer'); %> 