<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proposta Comercial iliot</title>

    <script src="https://kit.fontawesome.com/91e1592299.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="/frontend/assets/css/style-template.css">

</head>

<body>
    <%- include('includes/nav.ejs'); %>

    <button id="downloadPdf" onclick="" class="btn btn-primary">PDF</button>

    <div id="downloadThis" class="container">
            <div class="row">
                <div class="proposta col-12 text-center" style="background-color: #fff;margin: auto; font-size: 12px;">

                    <div id="header">

                        <div id="logoAndTitle">
                            <img id="iliotLogo" src="/frontend/assets/img/logoiliotcut.png" alt="iliotLogo">
                            <h1>Proposta Comercial iliot</h1>

                        </div>


                        <br>
                        <hr class="solid" id="division1">

                        <div class="gridHeader">

                            <div id="razaoNome_grid">

                                <div id="razaoSocial">
                                    <label for="razaoSocial">Razão Social</label>
                                    <input type="text" id="razaoSocial" name="razaoSocial" autocomplete="off" value="<%=proposta.razao_social%>" required>
                                </div>


                                <div id="nome_grid">
                                    <label for="nome">Nome</label>
                                    <input type="text" id="nome" name="nome" autocomplete="off" value="<%=proposta.nome%>" required>
                                </div>

                            </div>

                            <div id="cnpjDatas_grid">
                                <div id="cnpj_grid">
                                    <label for="cnpj">CNPJ</label>
                                    <input type="text" id="cnpj" name="cnpj" autocomplete="off" value="<%=proposta.cnpj%>" required>
                                </div>

                                <div id="dataProposta_grid">
                                    <label for="dataProposta">Data da Proposta</label>
                                    <input type="text" id="dataProposta" name="dataProposta" readonly="readonly">
                                </div>

                                <div id="validadeProposta_grid">
                                    <label for="validadeProposta">Validade da Proposta</label>

                                    <input type="text" id="validadeProposta" name="validadeProposta"
                                        readonly="readonly">

                                </div>

                            </div>


                        </div>
                    </div>


                    <br>
                    <hr class="solid" id="division2">

                    <div id="DIVPacoteBasico">
                        <h2>Pacote Basico</h2>

                        <div id="DIVSubtitulos">
                            <div id="subtituloFSM">
                                <p id="subtitulo1_pacoteBasico">FSM: Gestão de Ordens de Serviço</p>

                                <div>
                                    <label for="numeroUsuarios">Numero de Usuários</label>
                                    <input type="text" id="numeroUsuarios" name="numeroUsuarios" autocomplete="off"
                                        required>
                                </div>

                                <div>
                                    <label for="precoUnitario">Preço Unitário</label>
                                    <input type="text" id="precoUnitario" name="precoUnitario" readonly="readonly">
                                </div>

                                <div>
                                    <label for="desconto">Desconto</label>
                                    <input type="text" id="desconto" name="desconto" autocomplete="off" required>
                                </div>

                                <div>
                                    <label for="precoUnitarioDesconto">Preço Unit c/ Desconto</label>
                                    <input type="text" id="precoUnitarioDesconto" name="precoUnitarioDesconto"
                                        readonly="readonly">
                                </div>

                                <div>
                                    <label for="mensalidadePlanoFSM">Mensalidade do Plano</label>
                                    <input type="text" id="mensalidadePlanoFSM" name="mensalidadePlanoFSM"
                                        readonly="readonly">
                                </div>


                            </div>
                            <div id="subtituloPCM">
                                <p id="subtitulo2_pacoteBasico">PCM: Gestão de Manutenção de Ativos</p>




                                <div>
                                    <label for="numeroAtivos">Número de Ativos</label>
                                    <input type="text" id="numeroAtivos" name="numeroAtivos" autocomplete="off"
                                        required>
                                </div>

                                <div>
                                    <label for="valorBase">Valor Base</label>
                                    <input type="text" id="valorBase" name="precoUnitario" readonly="readonly">
                                </div>

                                <div>
                                    <label for="ajusteVolume">Ajuste por Volume</label>
                                    <input type="text" id="ajusteVolume" name="ajusteVolume" autocomplete="off"
                                        required>
                                </div>

                                <div>
                                    <label for="precoUnitarioAjustado">Preço Unit Ajustado</label>
                                    <input type="text" id="precoUnitarioAjustado" name="precoUnitarioAjustado"
                                        readonly="readonly">
                                </div>

                                <div>
                                    <label for="mensalidadePlanoPCM">Mensalidade do Plano</label>
                                    <input type="text" id="mensalidadePlanoPCM" name="mensalidadePlanoPCM"
                                        readonly="readonly">
                                </div>

                            </div>
                        </div>
                    </div>



                    <div id="DIVendPacoteBasico">

                        <div id="mensalidade_grid">
                            <label for="mensalidadeBasica">Mensalidade Básica</label>
                            <input type="text" id="mensalidadeBasica" name="mensalidadeBasica" readonly="readonly">
                            <p id="mensalidadeBasicaSubTitulo">Vencimento ao 20º dia de cada mês * Ate </p>
                        </div>

                        <div id="taxa_grid">
                            <label for="taxaAtivacao">Taxa Única de Ativação</label>
                            <input type="text" id="taxaAtivacao" name="taxaAtivacao" autocomplete="off" required>
                            <p id="taxaAtivacaoSubTitulo">Taxa Única, 10 dias após assinatura do contrato</p>
                        </div>

                    </div>


                    <br>
                    <hr class="solid" id="division3">

                    <div id="DIVPacoteOpcional">
                        <h3>Pacote Opicional</h3>


                        <div id="DIV1PacoteOpcional">

                            <div>
                                <label for="setupWhiteLabel">Setup White Label</label>
                                <input type="checkbox"
                                    id="checkBox1">
                                <input type="text" id="setupWhiteLabel" name="setupWhiteLabel" readonly="readonly">
                                <p>Cobrança Única</p>

                            </div>

                            <div>
                                <label for="mensalidadeWhiteLabel">Mensalidade White Label</label>
                                <input type="checkbox" id="checkBox2">
                                <input type="text" id="mensalidadeWhiteLabel" name="mensalidadeWhiteLabel"
                                    readonly="readonly">
                                <p>Mensalidade</p>
                            </div>

                            <div>
                                <label for="dashboardAvancado">Dashboard Avançado</label>
                                <input type="checkbox" id="checkBox3">
                                <input type="text" id="dashboardAvancado" name="dashboardAvancado" readonly="readonly">
                                <p>Mensalidade</p>
                            </div>

                            <div>
                                <label for="sla">SLA</label>
                                <input type="checkbox" id="checkBox4">
                                <input type="text" id="sla" name="sla" readonly="readonly">
                                <p>Mensalidade</p>
                            </div>

                            <div id="DIVhoraDesenvolvimento">
                                <label for="horaDesenvolvimento">Hora de Desenvolvimento</label>
                                <input type="checkbox" id="checkBox6">
                                <input type="text" id="horaDesenvolvimento" name="horaDesenvolvimento"
                                    readonly="readonly">
                                <input type="text" id="qntHorasDev" name="qntHorasDev"
                                    autocomplete="off">
                            </div>

                        </div>



                        <div id="DIV2PacoteOpcional">

                            <div id="mensalidadeOpcional_grid">
                                <label for="mensalidadeOpcionais">Mensalidade Opcionais</label>
                                <input type="text" id="mensalidadeOpcionais" name="mensalidadeOpcionais"
                                    readonly="readonly">
                                <p>Vencimento ao 20º dia de cada mês</p>

                            </div>

                            <div id="whiteLabel_grid">
                                <label for="setupWhiteLabelUnico">Setup White Label</label>
                                <input type="text" id="setupWhiteLabelUnico" name="setupWhiteLabelUnico"
                                    readonly="readonly">
                                <p>Investimento Único</p>

                            </div>

                            <div id="dev_grid">
                                <label for="desenvolvimentoUnico">Desenvolvimento</label>
                                <input type="text" id="desenvolvimentoUnico" name="desenvolvimentoUnico"
                                    readonly="readonly">
                                <p>Investimento Único </p>

                            </div>

                        </div>


                    </div>

                    <br>
                    <hr class="solid" id="division4">

                    <div id="DIVComment">
                        <h4>Vigência e Cancelamento</h4>
                        <p>Não há delimitação de tempo mínimo e taxas de cancelamento. Cancelamento prévio com 30 dias
                            de
                            antecedência, sem multa, sem taxas adicionais, sem surpresa.</p>
                    </div>


                    <br>
                    <hr class="solid" id="division1">
                    <br>

                    <div id="DIVFinalForms">
                        <h5>Resumo, Observações e Forma de Pagamento</h5>


                        <div id="DIVResumo">

                            <div id="fimTaxa_grid">
                                <label for="FIM_taxaAtivacao">Taxa de Ativação</label>
                                <input type="text" id="FIM_taxaAtivacao" name="FIM_taxaAtivacao" readonly="readonly">
                                <p>10 dias após a assinatura</p>
                            </div>

                            <div id="fimMensalidade_grid">
                                <label for="FIM_mensalidadeGeral">Mensalidade Geral</label>
                                <input type="text" id="FIM_mensalidadeGeral" name="FIM_mensalidadeGeral"
                                    readonly="readonly">
                                <p>Vencimento ao 20º dia de cada mês</p>
                            </div>

                            <div id="taxaUnica_grid">
                                <label for="taxaUnicaWL_DEV">TAXA ÚNICA (WL + DEV)</label>
                                <input type="text" id="taxaUnicaWL_DEV" name="taxaUnicaWL_DEV" readonly="readonly">
                            </div>
                        </div>





                        <div id="DIVFinalFields">

                            <div id="separa_grid1">
                                <div id="vencimento_grid">
                                    <label for="vencimentoTaxaAtivacao">Vencimento Tx de Ativação</label>
                                    <input type="text" id="vencimentoTaxaAtivacao" name="vencimentoTaxaAtivacao"
                                        value="10 dias após a assinatura" readonly="readonly">
                                </div>

                                <div id="email_grid">
                                    <label for="emailCobraca">E-mail de Cobrança</label>
                                    <input type="text" id="emailCobraca" name="emailCobranca" autocomplete="off" value="<%=proposta.email_cobranca%>" required>
                                </div>

                                <div id="formaPag_grid">
                                    <label for="formaPagamento">Forma de Pagamento</label>
                                    <input type="text" id="formaPagamento" name="formaPagamento" value="Boleto"
                                        readonly="readonly">
                                </div>
                            </div>

                            <div id="separa_grid2">
                                <div id="obs_grid">
                                    <label for="obsAdicionais">Observações Adicionais</label>
                                    <textarea id="obsAdicionais" name="obsAdicionais"><%=proposta.observacoes%></textarea>
                                </div>
                            </div>
                        </div>

                    </div>


                    <br>
                    <hr class="solid" id="division7">

                    <div>
                        <div id="DIVEnd">
                            <p id="finalText">LGPD - Ao assinar essa Proposta, você nos autoriza a coletar seus dados
                                para o
                                propósito
                                de Cadastro em nosso Sistema de Gestão. Caso haja dúvidas relativas a como a INOVAR.TECH
                                trata os
                                seus
                                dados, consulte nossa Política de Privacidade no
                                rodape de nosso website: https://iliot.tech.</p>

                            <div id="contatoFinal">
                                <p> Contato: <br>Miranda - 073 999 240 432 - lilian.costa@iliot.tech</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <script type="text/javascript">

            var EjsTab = '<%-JSON.stringify(tabela)%>';
            let tab = JSON.parse(EjsTab);
            const tabId = "<%=proposta.tabela_id%>";
            console.log(tabId);
            // const index = tab.findIndex(obj => {return obj._id == tabId});
            const index = myIndexOf(tab,tabId)

            function myIndexOf(tab,obj) {
                for (var i = 0; i < tab.length; i++) {
                    if (tab[i]._id === obj) {
                        return i;
                    }
                }
                return -1;
            }


            // HEADER
            let js_razaoSocial = document.getElementById('razaoSocial');
            let js_cnpj = document.getElementById('cnpj');
            let js_nome = document.getElementById('nome');
            let js_dataProposta = document.getElementById('dataProposta');
            let js_validadeProposta = document.getElementById('validadeProposta');
            // PACOTE BASICO
            let js_numeroUsuarios = document.getElementById('numeroUsuarios');
            let js_precoUnitario = document.getElementById('precoUnitario');
            let js_desconto = document.getElementById('desconto');
            let js_precoUnitarioDesconto = document.getElementById('precoUnitarioDesconto');
            let js_mensalidadePlanoFSM = document.getElementById('mensalidadePlanoFSM');
            let js_numeroAtivos = document.getElementById('numeroAtivos');
            let js_valorBase = document.getElementById('valorBase');
            let js_ajusteVolume = document.getElementById('ajusteVolume');
            let js_precoUnitarioAjustado = document.getElementById('precoUnitarioAjustado');
            let js_mensalidadePlanoPCM = document.getElementById('mensalidadePlanoPCM');
            // MIDDLE DIV
            let js_mensalidadeBasica = document.getElementById('mensalidadeBasica');
            let js_taxaAtivacao = document.getElementById('taxaAtivacao');
            // PACOTE OPCIONAL
            let js_setupWhiteLabel = document.getElementById('setupWhiteLabel');
            let js_checkBox1 = document.getElementById('checkBox1');
            let js_mensalidadeWhiteLabel = document.getElementById('mensalidadeWhiteLabel');
            let js_checkBox2 = document.getElementById('checkBox2');
            let js_dashboardAvancado = document.getElementById('dashboardAvancado');
            let js_checkBox3 = document.getElementById('checkBox3');
            let js_sla = document.getElementById('sla');
            let js_checkBox4 = document.getElementById('checkBox4');
            let js_DIVhoraDesenvolvimento = document.getElementById('DIVhoraDesenvolvimento');
            let js_horaDesenvolvimento = document.getElementById('horaDesenvolvimento');
            let js_qntHorasDev = document.getElementById('qntHorasDev');
            let js_checkBox5 = document.getElementById('checkBox6');
            let js_mensalidadeOpcionais = document.getElementById('mensalidadeOpcionais');
            let js_setupWhiteLabelUnico = document.getElementById('setupWhiteLabelUnico');
            let js_desenvolvimentoUnico = document.getElementById('desenvolvimentoUnico');
            // RESUMO E OBS
            let js_FIM_taxaAtivacao = document.getElementById('FIM_taxaAtivacao');
            let js_FIM_mensalidadeGeral = document.getElementById('FIM_mensalidadeGeral');
            let js_taxaUnicaWL_DEV = document.getElementById('taxaUnicaWL_DEV');
            let js_vencimentoTaxaAtivacao = document.getElementById('vencimentoTaxaAtivacao');
            let js_formaPagamento = document.getElementById('formaPagamento');
            let js_emailCobranca = document.getElementById('emailCobranca');
            let js_obsAdicionais = document.getElementById('obsAdicionais');
            // FIM DECLARAÇÃO DE VARIAVEIS
            dataProposta.value = criaData(0, 0, 0);
            validadeProposta.value = criaData(0, 1, 0);
            let valorBase, fms1Price, pricefix, mensalidade, pricefix2, mensalidade2, mensalidadeOpcionais,
             mensalidadeBasica, desenvolvimentoUnico, setupWhiteLabelUnico = 0;
            

            // INICIO FUNÇÕES
            function criaData(dia, mes, ano) {
                var dateObj = new Date();
                var day = dateObj.getUTCDate() + dia;
                var month = dateObj.getUTCMonth() + 1 + mes; //months from 1-12
                var year = dateObj.getUTCFullYear() + ano;
                const newdate = day + "/" + month + "/" + year;
                return newdate;
            }
            function cnpjMask() {
                cnpj.addEventListener('keyup', function (e) {
                    var cnpjAux = cnpj.value.replace(/\D/g, '');
                    var a = [];
                    a[0] = cnpjAux.substr(0, 2);
                    a[1] = cnpjAux.substr(2, 3);
                    a[2] = cnpjAux.substr(5, 3);
                    a[3] = cnpjAux.substr(8, 4);
                    a[4] = cnpjAux.substr(12, 2);
                    cnpj.value = `${a[0]}.${a[1]}.${a[2]}.${a[3]}/${a[4]}`;
                }
                    , false);
            }

            function formatarReal(valor) {
                var tmp = valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL', minimumFractionDigits: 2 });
                return tmp;
            }

            function percentmask(valor) {
                return valor = valor + '%';
            }

            function DEFINE_numeroUsuarios() {
                js_numeroUsuarios.value = parseFloat("<%=proposta.numero_usuarios%>");
            }

            function DEFINE_precoUnitario() {
                let p_numUser = parseFloat("<%=proposta.numero_usuarios%>");
                
                if (p_numUser <= 2) { fms1Price =  tab[index].menosque2;js_precoUnitario.value = formatarReal(fms1Price);
                } else if (p_numUser == 3) {fms1Price =  tab[index].igual3; js_precoUnitario.value =formatarReal(fms1Price);
                } else if (p_numUser == 4) {fms1Price =  tab[index].igual4; js_precoUnitario.value = formatarReal(fms1Price);
                } else if (p_numUser == 5) {fms1Price =  tab[index].igual5; js_precoUnitario.value = formatarReal(fms1Price);
                } else if (p_numUser == 6) {fms1Price =  tab[index].igual6; js_precoUnitario.value = formatarReal(fms1Price);
                } else if (p_numUser == 7) {fms1Price =  tab[index].igual7; js_precoUnitario.value = formatarReal(fms1Price);
                } else if (p_numUser == 8) {fms1Price =  tab[index].igual8; js_precoUnitario.value = formatarReal(fms1Price);
                } else if (p_numUser == 9) {fms1Price =  tab[index].igual9; js_precoUnitario.value = formatarReal(fms1Price);
                } else if (p_numUser >= 10 && p_numUser <= 12) {fms1Price =  tab[index].entre10e12; js_precoUnitario.value = formatarReal(fms1Price);
                } else if (p_numUser >= 13 && p_numUser <= 15) {fms1Price =  tab[index].entre13e15; js_precoUnitario.value = formatarReal(fms1Price);
                } else if (p_numUser >= 16 && p_numUser <= 21) {fms1Price =  tab[index].entre16e21; js_precoUnitario.value = formatarReal(fms1Price);
                } else if (p_numUser >= 22 && p_numUser <= 27) {fms1Price =  tab[index].entre22e27; js_precoUnitario.value = formatarReal(fms1Price);
                } else if (p_numUser >= 28 && p_numUser <= 38) {fms1Price =  tab[index].entre28e38; js_precoUnitario.value = formatarReal(fms1Price);
                } else if (p_numUser >= 39 && p_numUser <= 49) {fms1Price =  tab[index].entre39e49; js_precoUnitario.value = formatarReal(fms1Price);
                } else if (p_numUser >= 50 && p_numUser <= 60) {fms1Price =  tab[index].entre50e60; js_precoUnitario.value = formatarReal(fms1Price);
                } else if (p_numUser >= 61 && p_numUser <= 71) {fms1Price =  tab[index].entre61e71;js_precoUnitario.value = formatarReal(fms1Price);
                } else if (p_numUser >= 72 && p_numUser <= 82) {fms1Price =  tab[index].entre72e82;js_precoUnitario.value = formatarReal(fms1Price);
                } else if (p_numUser >= 83 && p_numUser <= 93) {fms1Price =  tab[index].entre83e93; js_precoUnitario.value = formatarReal(fms1Price);
                } else if (p_numUser > 93) {fms1Price =  tab[index].maisque93; js_precoUnitario.value = formatarReal(fms1Price);
                } else {js_precoUnitario.value = "";}
            }

            function DEFINE_desconto() {
                js_desconto.value =  percentmask(parseFloat("<%=proposta.desconto%>"));
            }

            function DEFINE_precoUnitarioDesconto() {
                pricefix = (1 - parseFloat("<%=proposta.desconto%>")/100)* fms1Price;
                js_precoUnitarioDesconto.value = formatarReal(parseFloat(pricefix.toFixed(2)));
            }

            function DEFINE_mensalidadePlanoFSM() {
                mensalidade = pricefix * parseFloat("<%=proposta.numero_usuarios%>");
                js_mensalidadePlanoFSM.value =  formatarReal(parseFloat(mensalidade.toFixed(2)));
            }
            
            function DEFINE_numeroAtivos() {
                js_numeroAtivos.value = parseFloat("<%=proposta.numero_ativos%>");
            }
            
            function DEFINE_valorBase() {
                valorBase = tab[index].valorBase;
                js_valorBase.value = formatarReal(parseFloat(valorBase.toFixed(2)));
            }
            
            function DEFINE_ajusteVolume() {
                ajusteVolume = parseFloat("<%=proposta.ajuste_por_volume%>");
                js_ajusteVolume.value = percentmask(ajusteVolume);
            }

            function DEFINE_precoUnitarioAjustado() {
                pricefix2 = (1 - parseFloat("<%=proposta.ajuste_por_volume%>")/100) * valorBase;
                js_precoUnitarioAjustado.value = formatarReal(parseFloat(pricefix2.toFixed(2)));
            }

            function DEFINE_mensalidadePlanoPCM() {
                mensalidade2 = pricefix2 * parseFloat("<%=proposta.numero_ativos%>");
                js_mensalidadePlanoPCM.value = formatarReal(parseFloat(mensalidade2.toFixed(2)));
            }

            function DEFINE_mensalidadeBasica() {
                mensalidadeBasica = mensalidade + mensalidade2;
                js_mensalidadeBasica.value = formatarReal(parseFloat(mensalidadeBasica.toFixed(2)));
            }

            function DEFINE_taxaAtivacaoUnica() {
                taxaAtivacaoUnica = parseFloat("<%=proposta.taxa_unica_ativacao%>");
                js_taxaAtivacao.value = formatarReal(parseFloat(taxaAtivacaoUnica.toFixed(2)));
            }

            
            function STATUScheckBox1() {
                if ("<%=proposta.setupWhiteLabelCheckbox%>" === "on") {
                    js_checkBox1.checked = "checked";
                    DEFINE_setupWhiteLabel()
                }
            }
            function DEFINE_setupWhiteLabel() {
                js_setupWhiteLabel.value = formatarReal(tab[index].setupWhiteLabel);
            }
            
            function STATUScheckBox2() {
                if ("<%=proposta.mensalidadeWhiteLabelCheckbox%>" === "on") {
                    js_checkBox2.checked = "checked";
                    DEFINE_mensalidadeWhiteLabel()
                }
            }
            function DEFINE_mensalidadeWhiteLabel() {
                js_mensalidadeWhiteLabel.value = formatarReal(tab[index].mensalidadeWhiteLabel);
            }

            function STATUScheckBox3() {
                if ("<%=proposta.dashboardAvancadoCheckbox%>" === "on") {
                    js_checkBox3.checked = "checked";
                    DEFINE_dashboardAvancado()
                }
            }
            function DEFINE_dashboardAvancado() {
                js_dashboardAvancado.value = formatarReal(tab[index].dashboardAvancado);
            }
            
            function STATUScheckBox4() {
                if ("<%=proposta.slaCheckbox%>" === "on") {
                    js_checkBox4.checked = "checked";
                    DEFINE_sla()
                }
            }
            function DEFINE_sla() {
                js_sla.value = formatarReal(tab[index].sla);
            }
            
            function STATUScheckBox5() {
                if ("<%=proposta.horaDesenvolvimentoCheckbox%>" === "on") {
                    js_checkBox5.checked = "checked";
                    DEFINE_horaDesenvolvimento()
                    DEFINE_qntHorasDev()
                    DEFINE_desenvolvimentoUnico()
                }
            }
            function DEFINE_horaDesenvolvimento() {
                js_horaDesenvolvimento.value = formatarReal(tab[index].horaDeDesenvolvimento);
            }
            function DEFINE_qntHorasDev() {
                js_qntHorasDev.value = parseFloat("<%=proposta.qntd_horas%>");
            }
            
            function DEFINE_mensalidadeOpcionais() {
                mensalidadeOpcionais = tab[index].mensalidadeWhiteLabel + tab[index].dashboardAvancado + tab[index].sla;
                js_mensalidadeOpcionais.value = formatarReal(parseFloat(mensalidadeOpcionais.toFixed(2)));

            }

            function DEFINE_setupWhiteLabelUnico() {
                setupWhiteLabelUnico = tab[index].setupWhiteLabel;
                js_setupWhiteLabelUnico.value = formatarReal(parseFloat(setupWhiteLabelUnico.toFixed(2)));
            }

            function DEFINE_desenvolvimentoUnico() {
                desenvolvimentoUnico = tab[index].horaDeDesenvolvimento * parseFloat("<%=proposta.qntd_horas%>")
                js_desenvolvimentoUnico.value = formatarReal(parseFloat(desenvolvimentoUnico.toFixed(2)));
            }

            function DEFINE_taxaAtivacaoFIM() {
                taxaAtivacaoFIM = parseFloat("<%=proposta.taxa_unica_ativacao%>")
                js_FIM_taxaAtivacao.value = formatarReal(parseFloat(taxaAtivacaoFIM.toFixed(2)));
            }

            function DEFINE_mensalidadeGeralFIM() {
                mensalidadeGeralFIM = mensalidadeOpcionais + mensalidadeBasica;
                js_FIM_mensalidadeGeral.value = formatarReal(parseFloat(mensalidadeGeralFIM.toFixed(2)));
            }

            function DEFINE_taxaunicaWL_DEV() {
                if(desenvolvimentoUnico > 0 && setupWhiteLabelUnico > 0) {
                    taxaunicaWL_DEV = desenvolvimentoUnico + setupWhiteLabelUnico;
                    js_taxaUnicaWL_DEV.value = formatarReal(parseFloat(taxaunicaWL_DEV.toFixed(2)));

                } else if(desenvolvimentoUnico == null || setupWhiteLabelUnico > 0){
                    taxaunicaWL_DEV = setupWhiteLabelUnico;
                    js_taxaUnicaWL_DEV.value = formatarReal(parseFloat(taxaunicaWL_DEV.toFixed(2)));
                } else if(desenvolvimentoUnico > 0 || setupWhiteLabelUnico == null){
                    taxaunicaWL_DEV = desenvolvimentoUnico;
                    js_taxaUnicaWL_DEV.value = formatarReal(parseFloat(taxaunicaWL_DEV.toFixed(2)));
                } 
            }

            // FIM FUNÇÕES

            window.onload = function() {
                DEFINE_numeroUsuarios(); DEFINE_precoUnitario();DEFINE_desconto();DEFINE_precoUnitarioDesconto();DEFINE_mensalidadePlanoFSM();
                DEFINE_numeroAtivos(); DEFINE_valorBase();DEFINE_ajusteVolume();DEFINE_precoUnitarioAjustado();DEFINE_mensalidadePlanoPCM();DEFINE_mensalidadeBasica();DEFINE_taxaAtivacaoUnica();
                STATUScheckBox1();STATUScheckBox2();STATUScheckBox3();STATUScheckBox4();STATUScheckBox5();
                DEFINE_mensalidadeOpcionais();DEFINE_setupWhiteLabelUnico();
                DEFINE_taxaAtivacaoFIM();DEFINE_mensalidadeGeralFIM();DEFINE_taxaunicaWL_DEV();

                document.getElementById("downloadPdf").addEventListener("click", () => {
                    // downloadPdf.style.display = 'none';

                    const downloadThis = this.document.getElementById("downloadThis");

                    var opt = {
                        margin: 0,
                        filename: 'Proposta Comercial Iliot.pdf',
                        image: { type: 'jpeg', quality: 0.98 },
                        html2canvas: { scale: 2 },
                        jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                    };

                    html2pdf().from(downloadThis).set(opt).save();

                })
            }

        </script>
</body>

</html>